<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper">

	<resultMap type="map" id="mapList">
		<result column="boardNum" property="boardNum" />
		<result column="writer" property="writer" />
		<result column="title" property="title" />
		<result column="content" property="content" />
	</resultMap>


	<select id="listAll" resultType="com.board.test.dto.BoardDto" parameterType="hashMap">
		SELECT * FROM
		(SELECT A.*,ROWNUM as RNUM,COUNT(*) OVER() AS CNT FROM
		(SELECT * FROM TEST_BOARD) A)
		<if test="offset==0">
			WHERE RNUM BETWEEN #{offset} AND #{offset}+#{size}
		</if>
		<if test="offset>0">
			WHERE RNUM BETWEEN #{offset}+1 AND #{offset}+#{size}
		</if>
	</select>

	<select id="list" parameterType="map" resultMap="mapList">
		select
		boardNum
		,writer
		,title
		,content
		from test_board
	</select>

	<insert id="insert" parameterType="map">
		<selectKey keyProperty="boardNum" resultType="_int" order="BEFORE">
			select board_num.nextval FROM DUAL
		</selectKey>
		insert into test_board
		values(
		#{boardNum}
		,#{writer}
		,#{title}
		,#{content}
		)
	</insert>

	<select id="listOne" resultType="com.board.test.dto.BoardDto">
		select * from test_board
		where boardNum = #{boardNum}
	</select>

	<select id="listCount" resultType="_int">
		select count(*) from test_board
	</select>

	<select id="search" resultType="com.board.test.dto.BoardDto" parameterType="hashMap">
		select 
		boardNum
		,writer
		,title
		,content
		 from test_board 
		<if test="keyword != null">
		where writer like '%' || #{keyword} || '%' 
		or title like '%' || #{keyword} || '%' 
		</if>
	</select>
</mapper>